{% extends 'vacation/base.html' %}

{% block title %}
    Kemer
{% endblock %}

{% block content %}
{% load static %}

<!-- Title -->
<div class="container text-center my-title">
    <div class="row">
        <h1>📸 Кемер в объективе путешественника</h1>
    </div>
</div>
<!-- Title -->

<!-- Cards -->
<section class="main-content">
    <div class="container">
        <div class="row">
            {% for photo in photos %}
                <div class="col-lg-4 col-sm-6 mb-3">
                    <div class="city-card">
                        <div class="city-thumb">
                            <a href="{% url 'vacation:kemer-list' %}"><img src="{% static 'images/cities/' %}{{ photo.name }}.jpg" alt="kemer"></a>
                        </div>
                        <div class="city-details">
                            <p>{{ photo.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Cards -->

{% endblock %}