{% extends 'vacation/base.html' %}

{% block title %}
    Photo #{{ photo.pk }}
{% endblock %}

{% block content %}
{% load static %}

<!-- Title -->
<div class="container text-center my-title">
    <div class="row">
        <h1>Фотография города {{ photo.city }}</h1>
    </div>
</div>
<!-- Title -->

<!-- Photo -->
<section class="main-content">
    <div class="container my-photo">

        <div class="row">
            <p>{{ photo.description }}</p>
            <img src="{% static 'images/cities/' %}{{ photo.name }}.jpg" alt="photo">
        </div>

        <br>
        <p>Комментарии к фото</p>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="fw-normal col-2" scope="col">Автор</th>
                        <th class="fw-normal col-8" scope="col">Комментарий</th>
                        <th class="fw-normal col-2" scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for comment in photo.comments.all %}
                        <tr>
                            <td>{{ comment.author.username }}</td>
                            <td>{{ comment.text }}</td>
                            <td>{{ comment.created_at|date:"d.m.Y H:i" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <br>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'vacation:comment-add' %}" method="POST">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="hidden" name="photo_id" value="{{ photo.id }}"> 
                        <br>    
                        <button type="submit" class="btn btn-outline-dark">Добавить комментарий</button>  
                    </form>
                {% else %}
                    <br>
                    <p>Добавлять комментарии могут только зарегистрированные пользователи</p>
                    <p>Пожалуйста <a href="{% url 'vacation:register' %}">зарегистрируйтесь</a></p>
                {% endif %}

            </div>
        </div>    

    </div>
</section>
<!-- Photo -->

{% endblock %}